.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Adjust background color */
}

.card {
  position: relative;
  max-width: 600px;
  margin: 20px;
}

.image-container {
  position: relative;
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:self-start;
  justify-content:self-start;
  border-radius: 10px;
  margin: 5px;
}

.front_side{
  margin: 65% auto;
}

.back_side{
  margin: 55% auto;
}
.overlay-content {
  text-align: center;
  color: #36454F; /* Adjust text color */
  font-family: 'Roboto', sans-serif; /* Adjust font family */
}

.overlay-content h2 {
  margin-top: 0;
  font-size: 24px; /* Adjust font size */
}

.overlay-content p {
  margin: 5px 0;
  font-size: 18px; /* Adjust font size */
}

.form {
  max-width: 400px;
  margin: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Adjust font size */
}

.toggle-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Adjust font size */
}

.toggle-button:hover {
  background-color: #0056b3;
}

.qr-code {
  position: absolute;
  right: 20px; /* Adjust positioning if necessary */
  top: 90%;
}

.username{
  margin: 0px;
  padding: 0px;
}

.email{
  margin: 0px;
  padding: 0px;
}



.image-container {
  position: relative;
  background-image: url('../src/images/v_2.png'); /* Set the background image */
  background-size: cover;
  background-position: center;
  width: 28%;
  height: 28%;
}

.back_text{
  text-align: start;
}

.download-button{
  padding: 8px;
  margin: 8px 4px;
  width: 48%;
  background-color: #36454F;
  color: #fff;
}




